* {
	
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	font-family: 'Segoe UI', sans-serif;
	
	
}

body {
	
	background-color: #f0f0f0;
	color: #aaa;
	
}

a {
	text-decoration: none;
	color: #095c5e;
	font-weight: 700;
	
}

a:hover {
	
	color: #111;
	
}

nav, main {
	
	margin: 0 auto;
	width: 1348px; 
	
	
}

header {
	
	background-color: #fff;
	
	
}

nav {
	
	text-align: right;
	
	
}


nav li { 

list-style: none;
display: inline-block;
margin: 20px 15px; 


}



.naglowek {
	
	
	background-color: #f0f0f0;
	width: 100%; 	
	height: auto;
	 
	
}

.naglowek__img {
	
	margin: 0 auto;
	text-align: center;
}

.slajder {
	
	width: 1348px;
	margin: 20px auto;
	text-align: center;
	overflow: hidden;
	font-size: 0;
	
	
}




 
h1 {
	
	color: #fff;
	font-size: 100px;
	font-weight: bold;
	text-transform: uppercase;
}

main {
	
	margin: 50px auto;
	display: block;
	
}


main::after {
	
	content: '';
	display: block;
	clear: both;
	
}

.glowna {
	
	width: 70%;
	float: left;
}

.boczna {
	
	width: 25%;
	box-sizing: border-box;
	float: right;
	border: 1px solid e0e0e0;
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
	text-align: center;
}



article {
	
	text-align: center;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background-color: #fff;
	margin-bottom: 40px;
	overflow: hidden;
	
}

.pudelko {
	
	padding: 20px;
}

.tytul {
	
	font-size: 26px;
	color: #095c5e;
	font-weight: 700;
}

.tytul > a {
	
	font-size: 26px;
	color: #095c5e;
	font-weight: 700;
}


.zajawka { 

font-size: 19px; 

}

.info {
	
	font-size: 11px;
	text-transform: uppercase;
	margin: 10px 0;
	letter-spacing: 1px;
	
}

.rozwin {
	
	
	margin-top: 15px;
	
}

.btn {
	
	display: inline-block;
	background-color: grey;
	line-height: 1;
	padding: 13px 14px 15px;
	color: #fff;
	border-radius: 5px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bold;
	border: none;
	transition: background-color 0.2s;
	
	
}

.btn:hover {
	
	background-color: f1f1f1;
}



.logo > img {
	
	
	margin-bottom: 20px; 
	width: 290px;
	
}

.logo > p {
	
	font-size: 14px;
	color: #555;
	margin-bottom: 20px; 
}

.pogrubienie {
	
	font-weight: 700;
}

.boczna > hr {
	
	margin: 20px 35px; 
	border: 0;
	border: 1px solid e0e0e0;
	
}

.boczna h3 {
	
	color: #095c5e;
	margin-bottom: 15px;
	
}

.mapa {
	
	
	margin: 0 auto;
	
	}
	

	


input {
	
	margin: 10px 0;
	border-radius: 4px; 
	border: 1px solid e0e0e0;
	padding: 5px; 
}

input:focus {
	
	border-color: #11a6ac;
	
}


.stopka {
	
	
	 
	margin:0 auto; 
	color: #aaa;
	font-size: 14px;
	background-color: #fff;
	border-top: 2px solid e0e0e0;
	line-height: 1;
	padding: 20px;
	text-align: center;
		
}


.kierunki {
	
	margin: 20px auto;
	width: 1348px; 
	background-color: #fff;
	
	
}

.tytul2 {
	
	font-size: 26px;
	color: brown;
	font-weight: 700;

}
	


.portfolio {
	
	
	display: block;
	
	font-size: 0;
	line-height: 0;
	text-align: center;
	justify-content: space-around;
	background-color: white;
	margin-top: 20px;
	
}

.portfolio a {
	
	
	margin: 20px 20px 20px 20px; 
	overflow: hidden;
	
	
	
}
	
	
		


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
.rslides_tabs {
	
	
	display: flex;
	list-style: none;
	justify-content: center;
	bottom: 15px;
	left: 0;
	z-index: 999;
	width: 100%;
	
	
}

.rslides_tabs a {
	
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: grey;
	margin: 0 5px; 
	text-indent: -99999px;
}

.rslides_here a {
	
	background-color: brown;
	
}


@media screen and (max-width: 500px) {


.zajawka {
	
	display: block;
}

.zajawka p {
	
	margin: 20px; 

}


.zajawka h2 {
	
	margin: 20px;
	font-weight: 700;
	display: block;
	
}

.kontakt {
	
	display: block;
		
}

.kontakt > div:not(:last-child) {
	
	margin-bottom: 40px;
	
}

.pakiety { 

display: block;


}

}

.rslides {
  
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
.rslides_tabs {
	
	
	display: flex;
	list-style: none;
	justify-content: center;
	bottom: 15px;
	left: 0;
	z-index: 999;
	width: 100%;
	
	
}

.rslides_tabs a {
	
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: grey;
	margin: 0 5px; 
	text-indent: -99999px;
}

.rslides_here a {
	
	background-color: brown;
	
}

